@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=IBM+Plex+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@700&display=swap");

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

:root {
  --font-title: "IBM Plex Serif", serif;
  --main-color: #fc0;
  --secondary-color: #4caf50;
  --font-color: #444;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}

h2 {
  --size: 44px;

  font-size: var(--size);
}

img {
  width: 100%;
  height: 100%;
}

p {
  line-height: 1.5;
  letter-spacing: 0.3px;
  font-size: 1.3rem;
}

.header {
  background-color: var(--main-color);
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & .top-logo {
    --size: 250px;

    width: var(--size);
  }

  & .title-logo {
    display: flex;
    align-items: center;

    & .top-logo {
      --size: 120px;

      width: var(--size);
      height: var(--size);
    }
  }

  & > div > h1 {
    margin: 0;
    text-shadow: 2px 2px 0 white;

    & a {
      text-decoration: none;
    }
  }

  & .anchors > a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 50px;
    color: var(--font-color);

    &:hover {
      text-decoration: underline 3px;
    }
  }
}

#what-section,
#about-section,
#link-section {
  scroll-margin-top: 100px;
  scroll-padding-top: 500px;
}

.smooth-scroll {
  transition: scroll-behavior 0.5s ease-in-out;
}

.main-section {
  background-color: var(--main-color);
  margin: 0;
  height: 100vh;
  background-image: url("/assets/img/landing_background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-container {
  margin-top: -5%;
  max-width: 700px;
  padding: 20px;
  text-align: center;
  background-color: var(--main-color);
  border-radius: 40px;
  display: flex;
  align-items: center;
  color: var(--font-color);

  & h3 {
    margin: 30px;
    font-size: 25px;
  }
}

.logo {
  --size: 250px;

  animation: pulse 3s infinite;
  width: var(--size);
  height: var(--size);
}

.container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.what-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: var(--font-color);

  & h2 {
    font-size: 44px;
    font-family: var(--font-title);
    margin: 80px auto;
  }

  & .what-section-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;

    & .what-section-left {
      width: 65%;
      display: flex;
      flex-direction: column;

      & p {
        font-size: 1.3rem;
        text-align: center;
        margin: 20px 40px;
      }

      & .filters-list {
        list-style-type: none;
        counter-reset: custom-counter;
        padding: 0;
        margin-left: 50px;

        & li {
          position: relative;
          margin-bottom: 10px;
          padding-left: 30px;
          font-size: 16px;
          line-height: 1.6;
          font-weight: bolder;

          &::before {
            content: counter(custom-counter);
            counter-increment: custom-counter;
            display: inline-block;
            width: 24px;
            height: 24px;
            background-color: white;
            color: black;
            text-align: center;
            border-radius: 50%;
            border: 1px solid var(--secondary-color);
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: background-color 0.3s;
          }

          &:hover::before {
            background-color: var(--secondary-color);
            color: white;
          }
        }
      }
    }

    & .what-section-right {
      width: 35%;
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        width: 400px;
      }
    }
  }
}

.about-section {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
}

.link-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 50vh;

  & .link-section-visit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    & .title-link-section {
      font-size: 44px;
      margin: 10px auto;
    }

    & h4 {
      font-size: 24px;
      margin: 10px auto;
    }
  }

  & .link-button {
    padding: 3.5%;
    font-weight: bolder;
    font-size: 35px;
    margin: 30px auto 100px;
    background-color: #4caf50;
    text-decoration: none;
    border-radius: 15px;
    color: #fff;
    transition: background-color 0.3s;
    animation: pulse 3s infinite;

    &:hover {
      background-color: #298f2e;
    }
  }
}

.footer {
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  color: var(--font-color);

  & .footer-img {
    width: 30%;
  }

  & .left-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;

    & .colaboration-div {
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;

      & a {
        font-weight: bold;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      & .logo-eoi {
        height: 30px;
      }
    }
  }

  & .right-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
  }

  & .logo-footer {
    width: 100px;
    height: 100px;
  }
}

.separator {
  width: 100%;
  padding: 2px;
  background:
    linear-gradient(
      to right,
      rgb(255 255 255 / 100%),
      var(--main-color),
      rgb(255 255 255 / 100%)
    );
}

.btn-float {
  position: fixed;
  bottom: 70px;
  right: 30px;
  font-size: 40px;
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px 20px;
  cursor: pointer;
  display: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: #298f2e;
  }

  &.active {
    display: block;
  }
}
